* {
    box-sizing: border-box;
}
 
body {
	margin-bottom: 45px ;
	max-width:800px;
	font-size:20px;
	line-height:30px;
	color:#5A544D;
	font-weight:light;
	font-family:"Lora", serif;;
}

.img{
	align-content: center;
	border-image-outset: 40px;
}
h1{
	text-transform:uppercase;
	font-family:"Roboto", sans-serif;;
	color:#B23A0D;
	font-size:70px;
	line-height:50px;


}

h2{
	margin-bottom:70px;
	font-size:35px;
	color:#E57348;
	font-family:"Roboto", sans-serif;;

}

