* {
    box-sizing: border-box;
}


.header {
	font-size: 35px;
	text-align: center;
}

p
{
	font-size: 25px;
	max-width: 300px;
	line-height: 1.5;
	margin: 2px;
	font-family: 'Arvo', serif;
	color: #C70039;


}

body
{
	background-color: #E0FFFF;
}