* {
    box-sizing: border-box;
}


.header {
	font-size: 45px;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
	color: #C70039;
}


body
{
	background-color: #E0FFFF;
}

a{
	color: #C70039;
	font-size: 25px;
	font-family: "Arvo", serif;
}


.manifesto{
	font-size: 25px;
	line-height: 1.5;
	margin: 20px;
	font-family: "Arvo", serif;
	color: #C70039;
	text-align: center;


}

.credit{
	font-family: 'Arvo', serif;
	color: #C70039;
	text-align: center;

}

._header{
		margin: 20px;
		text-align: center;

}


.manifesto_header{
	margin: 20px;
	text-align: center;
}

.email{
	font-size: 25px;
	line-height: 1.5;
	margin: 20px;
	font-family: "Arvo", serif;
	color: #C70039;
}
















