* {
	box-sizing: border-box;
}
h1{
	font-size: 144px;
}
.name {
	font-size: 72px;
}
.content{
	font-size: 60px;
}
.email{
	color:red;
}
h1{
	margin-bottom: -35px;
}
.content{
	color: gray;
}
.content{
	font-weight: bold;
}
body {
	margin-left: 500px;
}
footer{
	font-size: 28px;
}