* {
	box-sizing: border-box;
	background-color: white;
	font-family: "georgia";
	text-align: center;
	margin: auto;
}

body {
	color: mediumpurple;
	
}

h1{
	font-weight: lighter;
	color: rebeccapurple;
}

h2{
	font-weight: lighter;
	color: rebeccapurple;
}

footer{

	
}