* {
	box-sizing: border-box;
	background-color: white;
	font-family: "georgia";
	margin: auto;
}

.footer{
	color: rebeccapurple;
}

body{
	color: darkorchid;
}

h1{
	font-weight: normal;
	color: rebeccapurple;
}

h2{
	font-weight: normal;
	color: rebeccapurple;
}
