* {
	background-color: white;
	font-family: "georgia";
}

.content{
	text-align:center;
}

.footer{
	text-align:center;
}

body{
	color: lightcoral;
	
}

h1{
	font-weight: normal;
	color: indianred;
}

h2{
	font-weight: normal;
	color: indianred;
}

footer{

}